{% extends "base.html.jinja" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
         <h1>Roma Bury</h1>
         <p> Uczę się na Uniwersytecie Ekonomicznym w Krakowie na kierunku Informatyka Stosowana w grupie ZZISS1-1211.</p>
         </div>
            <div class="col">

            </div>
            <div class="col">
    
            </div>
        </div>
    </div>

{% endblock %}
